html{
    background-image: url("sprites/TheRockWhiteBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

body {
    margin: 0;
    padding-bottom: 50px;
}

.login {
    margin: 0;
}

.login .h1 {
    margin-bottom:0;
    padding-top: 20px;
}

.login .underline {
    background-color: #d9d9d9;
    height: 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:30px;
}

.login .quote{
    font-size: 3.5em;
    font-family: dancing_scriptregular, cursive;
    font-style: italic;
    color: #4f4f4f;
}

.login .header{
    text-align: center;
}

.login .middle {
    width:70%;
    margin: auto;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #bd6b15;
    box-sizing: border-box;
}

.login .box {
    width: 60%;
    background-color: #eeeeee;
    border-radius: 20px;
    padding-bottom: 0;
    margin: 0 auto 30px;
}

.login .box-content {
    margin: 0  auto;
    width: 90%;
    font-size: 1.5em;
}

.login .label {
    margin-top: 20px;
    font-size: 1em;
    color: #8a817a;
    display:block;
    width:100%;
}

.login .input {
    margin-top: 8px;
    display: block;
    width:100%;
    height:40px;
    font-size: 0.8em;
}

.login .slight-text{
    font-size: 0.7em;
    color: #a6a6a6;
    margin-bottom:30px;
}

.login .button-box{
    margin-top: 10px;
    padding-bottom: 50px;
}

.login .button{
    margin-top:20px;
    background-color: #bd6b15;
    border: none;
    color: #ffd07d;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    float: right;
    display:inline-block;
    font-size: 1em;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor:pointer;
    margin-bottom: 0;
}
.login .button:hover{
    background-color: #d7842c;
    color: white;
}

.login .error {
    font-size: 1em;
    color: red;
    margin-bottom: 5px;
}

.login .success-box {
    width: 40%;
    background-color: #ceffb6;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px auto 0;
    border: #47c049 3px solid;
}

.login .success-box-content {
    margin: 0  auto;
    width: 90%;
    font-size: 1.3em;
    color: #3a3a3a;
    text-align: justify;
}

.register {
    margin: 0;
}

.register .h1 {
    margin-bottom:0;
    padding-top: 15px;
}

.register .underline {
    background-color: #d9d9d9;
    height: 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}

.register .quote{
    font-size: 2.5em;
    font-family: dancing_scriptregular, cursive;
    font-style: italic;
    color: #4f4f4f;
}

.register .header{
    margin: 10px auto;
    width:70%;
    text-align: center;
}

.register .middle {
    width:70%;
    margin: auto;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #bd6b15;
    box-sizing: border-box;
}

.register .label {
    margin-top: 15px;
    font-size: 1em;
    color: #8a817a;
}

.register .password-instructions {
    margin-bottom: 5px;
    padding-top: 0;
    color: #a2a2a2;
    font-size: 0.6em;
}

.register .box {
    width: 70%;
    background-color: #eeeeee;
    border-radius: 20px;
    padding-bottom: 0;
    margin: 0 auto 50px;
}

.register .box-content {
    margin: 0  auto;
    width: 90%;
    font-size: 1.5em;
}

.register .input {
    margin-top: 8px;
    display: block;
    width:100%;
    height:25px;
    font-size: 0.7em;
    margin-bottom: 5px;
}

.register .bioBox {
    margin-top: 8px;
    width:100%;
    font-size: 0.7em;
    font-family: Arial, sans-serif;
    resize: vertical;
}

.register .slight-text{
    font-size: 0.7em;
    color: #a6a6a6;
    margin-left:0;
    display:inline-block;
}

.register .button-box{
    margin-top: 0;
    padding-bottom: 50px;
    width: 100%;
    position:relative;
}

.register .button{
    margin-top:0;
    background-color: #bd6b15;
    border: none;
    color: #ffd07d;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    border-radius: 10px;
    transition-duration: 0.2s;
    position: absolute;
    right:0;
    top:0;
    cursor:pointer;
    margin-bottom: 0;
}
.register .button:hover{
    background-color: #d7842c;
    color: white;
}

.register .form-error {
    font-size: 0.6em;
    color: red;
    display: inline-block;
    margin-bottom: 0;
    height:10px;
}
