<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'title.forum'|trans }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('css/sprites/favicon-128.png') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link href="{{asset('css/fonts/fonts.css')}}" media="screen, projection" rel="stylesheet" type="text/css"/>
    {% block stylesheet %}
        <link id="pageStyle" href="{{asset('css/light7.css')}}" media="screen, projection" rel="stylesheet" type="text/css"/>
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
