{% extends 'page.html.twig' %}

{% block title %}{{ 'title.createThread'|trans }}{% endblock %}

{% set active='forum' %}

{% block content %}
    <div class="create-thread-container">
        <div class="create-thread-title-label">

        </div>
    </div>
{% endblock %}